page-Carwashlist-Details {
    .login-content {
        background-image: url('../../assets/imgs/sin.jpg');
        background-color:#F9F8EB;

        // background-image: url('../../assets/imgs/something.jpg');
         background-repeat :no-repeat;
         background-size:cover;
        }

        .car{
            background-color: rgba(0.0,0.0,0.0,0.3);
            padding:2px; 
            border-radius: 20px;
       
        }

        .container{
           
            background-color:transparent;
            border-radius: 50px;
            margin-top: 2%;
            margin-left: 170px;
            margin-right: 150px;
            padding:0px;
          box-shadow: none;
          top: 0;
          bottom: 0;
          left: 0;
          flex-direction: column;
          right: 0;
          position: absolute;         
         }

         
  
    .header .col {
        background-color:lightgrey;
    }

    .header{
        background-color:lightgrey;
        text-align: center;
    }
    .par{
        text-emphasis-color: white;
    }
    .col {
       // border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;
        text-align: right;
        
    }

    // .row{
    //     color: white;
    // }

    h1{
        text-align: center
    }
 
    
      
     
    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
      }
      
      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
}
