<ion-content no-padding class="content">
  <div class="container">
    <div class="name-holder">
      <div class="logo">
        
      </div>
      <div class="app-name">
        <h2>Data Watch
        </h2>
      </div>
    </div>
  


<form [formGroup]="loginForm"  class="form-holder" (submit)="loginUser()" novalidate>
  <ion-item class="items">
    <ion-label floating><ion-icon name="mail"></ion-icon>Email</ion-label>
    <ion-input formControlName="email" type="email" 
    [class.invalid]="!loginForm.controls.email.valid && blur">
    </ion-input>
  </ion-item>
  <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
   loginForm.controls.email.touched">
    <p ion-text color="danger">*Please enter a valid email address.</p>
  </ion-item>

  <ion-item class="items">
    <ion-label floating><ion-icon name="lock"></ion-icon>Password</ion-label>
    <ion-input formControlName="password" type="password" 
    [class.invalid]="!loginForm.controls.password.valid && blur">
    </ion-input>
  </ion-item>
  <ion-item  class="error-message" *ngIf="!loginForm.controls.password.valid 
  && loginForm.controls.password.touched">
    <p  ion-text color="danger">Your password needs more than 6 characters.</p>
  </ion-item>




  <button ion-button block color="primary" type="submit" [disabled]="!loginForm.valid">
    LogIn
  </button>



<div  style="text-align:center" padding>
  <p style="color:white">Forgot Password? <a style="color:#f9a828" (click)="goToResetPassword()">Reset</a></p>
 
  <br>

</div>




</form>
</div>
</ion-content>