page-signin {
  .content{
    background-image: url('../../assets/imgs/sin.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      //background-color:#d7fbe8;
  }
  .scroll-content {
      overflow: hidden !important;
  }

  .car{
    background-color: rgba(0.0,0.0,0.0,0.3);
    padding:20px;
    border-radius: 10px;
    border-style: inset;
    border-width: 10px;
    
  
}
  .container{
     // align-items: center;
        //align-content: center;    
    background-color:transparent;
    border-radius: 0px;
    margin-top: 4%;
    margin-left: 300px;
    margin-right: 300px;
    padding:0px;
  box-shadow: none;
  top: 0;
  bottom: 0;
  left: 50px;
  right: 0px;
  //position: absolute;

  .name-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    padding: 20px;

    .logo {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background: linear-gradient(270deg, #3fbac2, #4d606e);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url("../assets/imgs/Untitled.png");

        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;

        @-webkit-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes AnimationName { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        
    }
    
}
  }
}