page-welcome {
    .login-content {
        // background-image: url('../../assets/imgs/sin.jpg');
        background-color:white;

        // background-image: url('../../assets/imgs/something.jpg');
         background-repeat :no-repeat;
         background-size:cover;
        }

     .car{
            // background-color: rgba(0.0,0.0,0.0,0.3);
             padding:2px; 
           border-radius: 0px;
           padding-top: 2px;
           padding-bottom: 2px;
       
      }
      .odd {
        background-color:  rgba(0.0,0.0,0.0,0.3);
    
    }
    .even {
        background-color: lightgrey;
    }

          
    .header .col {
        background-color:burlywood;
    }


    
    //  .col {
    //     // border: solid 1px grey;
    //    border-bottom-style: none;
    //  border-right-style: none;
    //     text-align: right;
    //  //  position: relative;
        
    // }

    .row{
        color:black;
    }

    h1{
        text-align: center;
    }
 
   
    
      
     
    // .sidenav {
    //     height: 100%;
    //     width: 160px;
    //     position: fixed;
    //     z-index: 1;
    //     top: 0;
    //     left: 0;
    //     background-color: #111;
    //     overflow-x: hidden;
    //     padding-top: 20px;
    //   }
      
    //   .sidenav a {
    //     padding: 6px 8px 6px 16px;
    //     text-decoration: none;
    //     font-size: 25px;
    //     color: #818181;
    //     display: block;
    //   }
      
    //   .sidenav a:hover {
    //     color: #f1f1f1;
    //   }
    // }
   

}