page-signup {
    h2{
      color: white;  
  }
  .content{
      background-image: url('../../assets/imgs/sin.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-color:#d7fbe8;
  }
  .scroll-content {
      overflow: hidden !important;
  }
  .container{
      
      align-items: center;
        align-content: center;    
    background-color:transparent;
    //border-radius: 50px;
    margin-top: 2%;
    margin-left: 150px;
    margin-right: 0px;
    padding:0px;
  box-shadow: none;
  top: 0;
  bottom: 0;
  left: 10px;
 
  right: 0;
  position: absolute;

  .name-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    padding: 20px;

    .logo {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background: linear-gradient(270deg, #3fbac2, #4d606e);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url("../assets/imgs/Untitled.png");

        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;

        @-webkit-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes AnimationName { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        
    }
    
}
.car{
    background-color: rgba(0.0,0.0,0.0,0.3);
    padding:20px;
    border-radius: 10px;
    border-style: inset;
    border-width: 10px;
    
  
}

.app-name {
align-content: center;
align-items: center;
justify-content: center;
padding: 10px;
color: #2f4cac;
font-weight: bolder
}
 
 }

  .form-holder {
          width: 100%;
          padding: 20px;
      }
  .items {
      background-color: transparent;
      color:whitesmoke;
      .input {
   
          color:#4d606e;
         
      }
      .label{
          color:#2f4cac;
      }
   
    }
//   #button {
//       color: #2f4cac;
//       color: white;
//       border-radius:50px;
//   }
//   #button1 {
//       border-radius:50px;
//   }
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }
  

//   .div{
//     display: flex;
//     justify-content:center;
//     align-content:left;
//     align-items:center;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     flex-direction: column;
//     right: 0;
//     position: absolute;
//     padding: 10px 15px;
//     }




  
  }
  
  