<ion-header>
 
</ion-header>

<ion-content  class="content">

    <div class="sidenav">
        <a href="#about">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="#contact">Contact</a>
      </div>
      


  <div class="container">
      <div class="name-holder">
          <div class="logo">
            
          </div>
          <div  class="app-name">
            Data Watch
              
          </div>
        </div>
      <h2 align="center">Welcome To Data Watch</h2>  

<form [formGroup]="signupForm"  class="form-holder"  (submit)="signupUser()" novalidate>
 
  <div class="car">
   
        <ion-label>Username:</ion-label>
        <input type="text" formControlName="username" type="username" 
        [class.invalid]="!signupForm.controls.username.valid && blur">
  
     
      <ion-item class="error-message" *ngIf="!signupForm.controls.username.valid  
      && signupForm.controls.username.touched">
        <p ion-text color="danger">Please enter your Username.</p>
      </ion-item>

  
  
    <ion-label>Email:</ion-label>
    <input type="text" formControlName="email" type="email" 
    [class.invalid]="!signupForm.controls.email.valid && blur">
   
  
  <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  
  && signupForm.controls.email.touched">
    <p ion-text color="danger">Please enter a valid email.</p>
  </ion-item>

  
    <ion-label>Password:</ion-label>
    <input type="text"  formControlName="password" type="password" 
    [class.invalid]="!signupForm.controls.password.valid && blur">
    
  
  <ion-item class="error-message" 
  *ngIf="!signupForm.controls.password.valid  && 
  signupForm.controls.password.touched">
    <p ion-text color="danger">Your password needs more than 6 characters.</p>
  </ion-item>

  <div paddig>
  <button  ion-button type="submit" [disabled]="!signupForm.valid">
    Save
  </button>
</div>

<div>
    <p style="color:#4d606e" class="p"> If you wish to sign in you can click here <a style="color:#2f4cac"(click)="gotosignin()">Sign in</a></p>
</div>
</div>
</form>
</div>

</ion-content>